#elem {
	border: 1px solid red;
	background-color: white;
	transition-timing-function: ease;
	transition-duration: 2s;
	transition-property: background-color, color;
	width: 200px;
	height: 80px;
	color: red;
}

#elem:hover {
	background-color: red;
	color: white;
}



